@font-face {
  font-family: "Barlow Condensed";
  font-weight: 400;
  src: url(./assets/BarlowCondensed-Regular.ttf);
}

@font-face {
  font-family: "Barlow Condensed";
  font-weight: 700;
  src: url(./assets/BarlowCondensed-Bold.ttf);
}

@font-face {
  font-family: "Bellefair";
  src: url(./assets/Bellefair-Regular.ttf);
}

:root {
  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-400: hsl(231, 77%, 90%);
  --color-neutral-900: hsl(230, 35%, 7%);

  --font-family-serif: "Bellefair", serif;
  --font-family-sans-serif: "Barlow Condensed", system-ui, sans-serif;

  --font-size-xxxl: 9.375rem;
  --font-size-xxl: 6.25rem;
  --font-size-xl: 3.5rem;
  --font-size-l: 2.25rem;
  --font-size-m: 1.75rem;
  --font-size-s: 1.125rem;
  --font-size-xs: 1rem;
  --font-size-xxs: 0.875rem;
}

@media (max-width: 67.5rem) {
  :root {
    --font-size-xxl: 5rem;
  }
}

@media (max-width: 30em) {
  :root {
    --font-size-xxxl: 5rem;
    --font-size-xxl: 3.5rem;
    --font-size-xl: 1.75rem;
    --font-size-l: 1.25rem;
    --font-size-m: 1rem;
    --font-size-s: 1rem;
    --font-size-xs: 1rem;
    --font-size-xxs: 1rem;
  }
}

/*RESET*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/*RESET ENDS*/

.container {
  display: grid;
  grid-template-columns: 3em 6em 1fr 3em;
}

@media (max-width: 67.5em) {
  .container {
    grid-template-columns: 2em 1fr 2em;
  }
}

@media (max-width: 30em) {
  .container {
    grid-template-columns: 1.5em 1fr 1.5em;
  }
}

.space-between {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.two-column {
  display: grid;
  grid-column: 3;
  margin: 0;
}

@media (max-width: 67.5em) {
  main > .container {
    grid-column: 2;
  }

  .two-column {
    grid-column: 2;
  }
}

h1:has(+ .two-column) {
  grid-column: 2 / -1;
  text-align: start;
}

@media (min-width: 67.5em) {
  h1:has(+ .two-column) {
    grid-column: 3 / -1;
  }
}

@media (min-width: 67.5em) {
  .two-column {
    grid-template-columns: 1fr 1fr;
  }
}

body {
  background-color: var(--color-neutral-900);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-neutral-400);
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-s);
  font-weight: 400;
  line-height: 2em;
  margin: 0;
  min-height: 100dvh;
}

@media (max-width: 67.5em) {
  body {
    text-align: center;
  }
}

#root {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr;
}

h1,
h2,
h3 {
  color: var(--color-neutral-100);
  font-weight: 400;
  text-transform: uppercase;
}

h1 > span {
  opacity: 0.5;
}

header .space-between {
  grid-column: 2/-1;
}

.header__hamburger {
  background-color: transparent;
  background-image: url(./assets/shared/icon-hamburger.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  display: none;
  height: 1.3125rem;
  width: 1.5rem;
  z-index: 1000;
}

.header__hamburger:has(+ .header__nav.open) {
  background-image: url(./assets/shared/icon-close.svg);
}

.header__nav > ul {
  align-items: center;
  backdrop-filter: blur(1em) saturate(100%);
  background-color: hsla(0, 0%, 100%, 0.1);
  color: var(--color-neutral-100);
  display: flex;
  flex-wrap: wrap;
  font-size: var(--font-size-xs);
  gap: 3rem;
  height: 6rem;
  justify-content: start;
  list-style: none;
  margin-block-start: 1.8rem;
  padding-inline: 8em 0;
  position: relative;
  text-transform: uppercase;
  width: 58vw;
}

.header__nav > ul::before {
  background-color: var(--color-neutral-100);
  content: "";
  height: 0.125em;
  opacity: 0.25;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateX(-95%);
  width: 55%;
}

.header__nav li {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
  text-align: start;
}

.header__nav li:has(.current)::after {
  background-color: var(--color-neutral-100);
  bottom: 0;
  content: "";
  display: block;
  height: 4px;
  position: absolute;
  width: 100%;
}

.header__nav li:has(a:not(.current):is(:hover, :focus-visible))::after {
  background-color: rgba(255, 255, 255, 0.5);
  bottom: 0;
  content: "";
  display: block;
  height: 4px;
  position: absolute;
  width: 100%;
}

.header__nav a {
  color: inherit;
  text-decoration: none;
  letter-spacing: 2.7px;
}

.header__nav a > span {
  font-weight: 700;
}

@media (max-width: 67.5em) {
  .header__nav > ul {
    gap: 2rem;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .header__nav > ul::before,
  .header__nav a > span {
    display: none;
  }
}

@media (max-width: 30em) {
  header {
    padding-block: 1.5em;
  }

  header .space-between {
    grid-column: 2;
  }

  .header__hamburger {
    display: block;
  }

  .header__nav {
    position: fixed;
    right: -100vw;
    height: 100dvh;
    top: 0;
    z-index: 100;
  }

  .header__nav.open {
    right: 0;
    transition: ease-in-out 0.4s;
    width: 68dvw;
  }

  .header__nav > ul {
    align-items: start;
    flex-direction: column;
    height: 100%;
    justify-content: start;
    padding-block-start: 11.5rem;
    padding-inline-start: 2rem;
    width: 68dvw;
  }

  .header__nav li {
    display: flex;
    flex-direction: row;
    height: unset;
    justify-content: start;
    position: relative;
    text-align: start;
    width: 100%;
  }

  .header__nav li:has(.current)::after {
    background-color: var(--color-neutral-100);
    content: "";
    display: block;
    height: 100%;
    margin-inline-start: auto;
    position: unset;
    width: 4px;
  }

  .header__nav a > span {
    display: inline;
  }
}

main > .container {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  padding-block-start: 3rem;
}

@media (max-width: 30em) {
  main > .container {
    padding: 0;
  }
}

body:has(.home) {
  background-image: url(./assets/home/background-home-mobile.jpg);
}

body:has(.destination) {
  background-image: url(./assets/destination/background-destination-mobile.jpg);
}

body:has(.crew) {
  background-image: url(./assets/crew/background-crew-mobile.jpg);
}

body:has(.tech) {
  background-image: url(./assets/technology/background-technology-mobile.jpg);
}

@media (min-width: 40em) {
  body:has(.home) {
    background-image: url(./assets/home/background-home-tablet.jpg);
  }

  body:has(.destination) {
    background-image: url(./assets/destination/background-destination-tablet.jpg);
  }
  body:has(.crew) {
    background-image: url(./assets/crew/background-crew-tablet.jpg);
  }
  body:has(.tech) {
    background-image: url(./assets/technology/background-technology-tablet.jpg);
  }
}

@media (min-width: 67.5em) {
  body:has(.home) {
    background-image: url(./assets/home/background-home-desktop.jpg);
  }

  body:has(.destination) {
    background-image: url(./assets/destination/background-destination-desktop.jpg);
  }
  body:has(.crew) {
    background-image: url(./assets/crew/background-crew-desktop.jpg);
  }
  body:has(.tech) {
    background-image: url(./assets/technology/background-technology-desktop.jpg);
  }
}

main.home > .container {
  grid-template-rows: unset;
  place-content: center;
}

.home__eyebrow {
  font-size: var(--font-size-m);
  letter-spacing: 2.7px;
  text-transform: uppercase;
}

.home__content > h1 {
  font-family: var(--font-family-serif);
  font-size: var(--font-size-xxxl);
  font-weight: 400;
  margin-block: 2rem 0;
}

.home__content > h1 + p {
  max-width: 27.5rem;
}

div:has(> .home__button) {
  display: flex;
}

.home__button {
  aspect-ratio: 1;
  background-color: var(--color-neutral-100);
  border-radius: 50%;
  color: var(--color-neutral-900);
  display: grid;
  font-family: var(--font-family-serif);
  font-size: 2rem;
  height: 17.125rem;
  letter-spacing: 0.125rem;
  margin: auto 5rem 0 auto;
  place-content: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: box-shadow 0.5s;
}

.home__button:is(:hover, :focus-visible) {
  box-shadow: 0 0 0 5.5rem rgba(255, 255, 255, 0.5);
}

@media (max-width: 67.5em) {
  main.home > .container {
    place-content: unset;
  }

  .home__intro {
    margin-inline: auto;
  }

  .home__button {
    margin: auto;
  }
}

@media (max-width: 30em) {
  .home__eyebrow {
    margin: 0;
  }

  .home__button {
    font-size: 1.25rem;
    height: 9.375rem;
  }

  .home__button:is(:hover, :focus-visible) {
    box-shadow: unset;
  }

  .home p {
    margin: 1rem;
  }
}

main:not(.home) h1 {
  font-size: var(--font-size-m);
  letter-spacing: 4.75px;
}

@media (max-width: 67.5em) {
  main:not(.home) h1 {
    font-size: var(--font-size-m);
    text-align: start;
  }
}

@media (max-width: 30em) {
  main:not(.home) h1 {
    text-align: center;
  }
}

.destination {
  justify-content: start;
}

.destination h1 {
  margin-block-start: 0;
}

.destination .two-column > img {
  margin: auto;
}

.destination__content {
  margin-inline: auto;
}

.destination__controls {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  padding-block-start: 2rem;
}

.destination__controls > button {
  background: transparent;
  border: 0;
  border-bottom: 3px solid transparent;
  color: var(--color-neutral-400);
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  padding-inline: 0;
}

.destination__controls > button:is(:hover, :focus-visible) {
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}

.destination__controls > button.current {
  border-bottom: 3px solid;
  color: white;
}

.destination__name {
  font-family: var(--font-family-serif);
  font-size: var(--font-size-xxl);
  margin-top: 2rem;
}

.destination__desc {
  max-width: 27.5rem;
  min-height: 9rem;
  text-wrap: pretty;
}

.destination hr {
  background-color: var(--color-neutral-100);
  display: block;
  opacity: 0.1;
  max-width: 27.5rem;
  margin: 3rem 0 1rem 0;
}

.destination__facts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
}

.destination__label {
  font-size: var(--font-size-xxs);
  letter-spacing: 2.35px;
  text-transform: uppercase;
}

.destination__fact {
  color: var(--color-neutral-100);
  font-family: var(--font-family-serif);
  font-size: var(--font-size-l);
  text-transform: uppercase;
  margin-block-start: 0.5rem;
}

@media (max-width: 67.5em) {
  .destination__img {
    max-width: 18.75rem;
    padding-block: 1rem;
  }

  .destination__controls {
    justify-content: center;
    padding: 0;
  }

  .destination__name {
    font-size: var(--font-size-xxl);
  }

  .destination__desc {
    margin: 0;
    max-width: 36rem;
  }

  .destination hr {
    margin: 1rem 0;
    max-width: unset;
    width: 100%;
  }

  .destination__facts {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 30em) {
  .destination .two-column {
    margin: 0;
  }

  .destination__img {
    max-width: 10.625rem;
  }

  .destination__controls {
    margin: 0;
  }

  .destination__name {
    margin-block-start: 1rem;
  }

  .destination__facts {
    grid-template-columns: 1fr;
  }
}

main.crew > .container {
  grid-template-rows: 1fr;
  align-items: start;
}

.crew .two-column {
  grid-template-columns: 58% 1fr;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.crew h1 {
  margin: 0;
  grid-column: 1;
}

.crew__content {
  display: flex;
  flex-direction: column;
}

.crew__role {
  color: var(--color-neutral-100);
  font-family: var(--font-family-serif);
  font-size: var(--font-size-l);
  margin-block: auto 0;
  opacity: 0.5;
  text-transform: uppercase;
}

.crew__name {
  font-family: var(--font-family-serif);
  font-size: var(--font-size-xl);
  margin-block: 1rem 0;
}

.crew__bio {
  max-width: 27.5rem;
  min-height: 9rem;
  text-wrap: pretty;
}

.crew__buttons {
  display: flex;
  gap: 24px;
  margin-block: auto 5rem;
}

.crew__button {
  aspect-ratio: 1;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  height: 15px;
  opacity: 0.5;
}

.crew__button:is(:hover, :focus-visible) {
  opacity: 0.75;
}

.crew__button.current {
  opacity: 1;
}

.crew__img {
  align-self: end;
  grid-row: 1 /-1;
  grid-column: 2;
  object-position: bottom;
}

@media (max-width: 67.5em) {
  .crew .two-column {
    grid-template-columns: 1fr;
  }

  .crew h1 {
    text-align: start;
  }

  .crew__role {
    font-size: 1.5rem;
    margin-block-start: 3rem;
  }

  .crew__name {
    font-size: 2.5rem;
    margin-block-start: 0;
  }

  .crew__bio {
    margin-inline: auto;
    max-width: 35rem;
    min-height: 7rem;
  }

  .crew__buttons {
    align-items: center;
    justify-content: center;
    margin-block: auto;
  }

  .crew__img {
    grid-column: unset;
    grid-row: -1;
    justify-self: center;
    max-height: 30rem;
    object-fit: contain;
  }
}

@media (max-width: 30em) {
  .crew .two-column {
    grid-template-rows: auto auto 1fr;
  }

  .crew h1 {
    height: fit-content;
    order: -10;
  }

  .crew__img {
    border-block-end: 1px solid hsla(0, 0%, 59%, 0.5);
    margin-block-start: 2rem;
    grid-row: unset;
    height: 14rem;
    order: -1;
    width: 100%;
  }

  .crew__buttons {
    margin-block: 2rem;
    order: -1;
  }

  .crew__role {
    font-size: var(--font-size-m);
    margin: 0;
  }

  .crew__name {
    font-size: var(--font-size-xl);
  }

  .crew__bio {
    min-height: 10rem;
  }
}

.tech h1 {
  margin: 0;
}

.tech .two-column {
  grid-column: 3 / -1;
}

.tech__sidebar {
  display: grid;
  gap: 4rem;
  grid-template-columns: auto 1fr;
  margin-block: auto;
}

.tech__controls {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.tech__button {
  aspect-ratio: 1;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  color: var(--color-neutral-100);
  cursor: pointer;
  font-family: var(--font-family-serif);
  font-size: var(--font-size-l);
  height: 5rem;
}

.tech__button:is(:hover, :focus-visible) {
  border-color: var(--color-neutral-100);
}

.tech__button.current {
  background-color: var(--color-neutral-100);
  color: var(--color-neutral-900);
}

.tech__eyebrow {
  letter-spacing: 2.7px;
  margin: 0;
  text-transform: uppercase;
}

.tech__name {
  font-family: var(--font-family-serif);
  font-size: var(--font-size-xl);
  margin-block-start: 0.5rem;
}

.tech__desc {
  max-width: 37.5rem;
  text-wrap: pretty;
}

.tech__img {
  margin-inline-start: auto;
  align-self: center;
}

@media (max-width: 67.5em) {
  .tech .two-column {
    grid-template-columns: subgrid;
    grid-column: 1/-1;
  }

  .tech__img {
    order: -1;
    grid-column: 1 / -1;
    margin-inline: auto;
  }

  .tech__sidebar {
    gap: 1rem;
    grid-template-columns: unset;
    grid-column: 2;
    justify-items: center;
    margin: 0;
  }

  .tech__controls {
    flex-direction: row;
  }

  .tech__button {
    font-size: 1.5rem;
    height: 3.75rem;
  }

  .tech__desc {
    max-width: 28.625rem;
    min-height: 12rem;
  }
}

@media (max-width: 30em) {
  .tech__button {
    font-size: 1rem;
    height: 2.5rem;
  }

  .tech__img {
    height: 10.625rem;
  }

  .tech__img > img {
    object-fit: cover;
    height: 100%;
  }
}

@media (min-width: 100em) {
  .header__nav > ul {
    justify-content: center;
  }
  .tech__img {
    margin-inline: auto;
  }
}
